// ----------------------------------------------------------------------------
// Settings
// ----------------------------------------------------------------------------

//
// Easings
//
// $bezier: cubic-bezier(0.4, 0, 0.2, 1);
$bezier: cubic-bezier(.42,0,.58,1);

//
// Transitions
//
$tr1: 150ms ease-in-out;
$tr2: 350ms ease-in-out;
$tr3: 400ms $bezier;

