//
// Calendar
//

.calendar table {
  box-sizing: border-box;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;

  th, td {
  	padding-bottom: 20px;
  }
}

//
// Has Event
//
.calendar_day-num {
	&.--has-event {
		height: 30px;
		width: 30px;
		line-height: 30px;
		margin-right: auto;
		margin-left: auto;
		@apply .cursor-pointer .tr-all .no-underline .relative .z-0;

		&:hover {
			transform: scale(1.05);
		}
	}
}