
//
// Toggle List
//
// # Container
.menu__drop {
	@apply .relative;

}

// # List
.menu__drop-menu {

	@apply .list-reset;

	// # Links
	a {
		@apply .block .text-xs .no-underline .py-3 .px-3 .text-white;
		white-space: nowrap;
		min-width: 12em;

		&:hover {
			@apply .text-blue-light ;
		}
	}
	.highlight {
		@apply .bg-blue-light .text-white;

		&:hover {
			@apply .bg-blue
		}
	}
	// Above 
	@screen lg {
		.highlight {
			@apply .text-xs
		}
	}

	@screen md {

		// box-shadow: 0 2px 3px 1px rgba(#000, 0.05);

		@apply .pt-2 .absolute .bg-blue-dark .z-50 .pointer-events-none .opacity-0 .tr-all ; 
		top: 2.5rem;

		// Set Right
		&.--right {
			@apply .pin-r;
		}

		// # Links
		a {
			@apply .text-sm .pt-3 .pb-3 .px-6 .font-light ;
			white-space: nowrap;
			min-width: 12em;
		}
		
		// # Link Styles
		li {
			
			// Last
			&:last-child{
				a {
					@apply .pb-8
				}
			}
			// Highlight
			a.highlight {

					@apply  .pt-4  .mt-3 .text-center .tracking-normal .no-underline;
					padding-bottom: 1.25rem;

					

			}
		}			
	
	}

}

//
// Current
//
.current {
	a {
		@apply .text-blue-light;
	}
}

//
// Active 
//
.menu__drop.active {
	[data-module="toggleDrop"] {
		@apply .text-blue-light ;
	}

	.menu__drop-menu {
		@apply .block .pointer-events-auto .opacity-100;
	}
	// Rotate Indicator
	.indicator {
		transform: rotate(90deg);
	}
}

//
// Mobile: Add Toggle Indicators
//
	
[data-module="toggleDrop"] {
	.indicator {
		height: 14px;
		width:  14px;
		top: 2px;

		@apply .relative  .tr-all .ml-2;
	}

}
@screen md {
	[data-module="toggleDrop"] {
		// @apply .static;
		&:after {
			content: none;
			
		}
	}
}