//
// Tooltip (css only)
//
//  Add this attribute to the element that needs a tooltip
[data-tooltip] {
  position: relative;
  z-index: 10;
  cursor: pointer;
}

//  Hide the tooltip content by default
[data-tooltip]:before,
[data-tooltip]:after {
  // visibility: hidden;
  opacity: 0;
  z-index: 100;
  pointer-events: none;
  transition: opacity 150ms ease-in-out;
}

//  Position tooltip above the element
[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  // top: 140%;
  top:34px;
  left: 50%;

  margin-bottom: 5px;
  margin-left: -100px;
  width: 200px;
  padding: 6px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
  background-color: #2466CC;
}

//  Triangle hack to make tooltip look like a speech bubble
[data-tooltip]:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -1px;
  margin-left: -5px;
  width: 0;
  font-size: 0;
  line-height: 0;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #2466CC;
}

//  Show tooltip content on hover
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  // visibility: visible;
  opacity: .98;
}