{# Stat List #}
{% import '_macros/global' as render %}
{# md:mt-12 py-10 #}
<div class="stat-list list--stats border-list   mx-auto max-w-2xl flex flex-wrap flex-justify px-4 {{render.spacing(content)}}">


	{% for stat in content.stat %}
		{% include '_molecules/stat' with {
			content: stat
		} %}
	{% endfor %}

</div>
