{# Site Footer #}
<footer class="site-footer bg-blue text-blue-light"><div class="container m-auto  pt-9 px-2 pb-4"><div class="flex-wrap md:flex md:flex-justify"><div class="info-group w-full text-center border-b-2 border-blue-light mb-10 lg:border-0 lg:w-1/2 lg:text-left lg:mb-0 pb-6 lg:pb-0"><div class="content"><div class="brand-logo text-blue-light mb-12 sm:mb-4 m-auto lg:ml-0">
<!--?xml version="1.0" encoding="utf-8"?-->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 342.5 65" style="enable-background:new 0 0 342.5 65;" xml:space="preserve">
<g>
<circle fill="currentColor" cx="43.7" cy="59.7" r="5.3"></circle>
<circle fill="currentColor" cx="76.3" cy="59.7" r="5.3"></circle>
<circle fill="currentColor" cx="27.4" cy="36.9" r="4.4"></circle>
<circle fill="currentColor" cx="43.7" cy="36.9" r="4.4"></circle>
<circle fill="currentColor" cx="60" cy="36.9" r="4.4"></circle>
<circle fill="currentColor" cx="92.6" cy="36.9" r="4.4"></circle>
<circle fill="currentColor" cx="76.3" cy="36.9" r="4.4"></circle>
<circle fill="currentColor" cx="35.5" cy="48.3" r="4.8"></circle>
<circle fill="currentColor" cx="51.8" cy="48.3" r="4.8"></circle>
<circle fill="currentColor" cx="84.5" cy="48.3" r="4.8"></circle>
<circle fill="currentColor" cx="68.2" cy="48.3" r="4.8"></circle>
<circle fill="currentColor" cx="11.2" cy="14.1" r="3.5"></circle>
<circle fill="currentColor" cx="27.4" cy="14.1" r="3.5"></circle>
<circle fill="currentColor" cx="43.7" cy="14.1" r="3.5"></circle>
<circle fill="currentColor" cx="60" cy="14.1" r="3.5"></circle>
<circle fill="currentColor" cx="108.8" cy="14.1" r="3.5"></circle>
<circle fill="currentColor" cx="92.6" cy="14.1" r="3.5"></circle>
<circle fill="currentColor" cx="76.3" cy="14.1" r="3.5"></circle>
<circle fill="currentColor" cx="19.3" cy="25.5" r="3.9"></circle>
<circle fill="currentColor" cx="35.6" cy="25.5" r="3.9"></circle>
<circle fill="currentColor" cx="51.9" cy="25.5" r="3.9"></circle>
<circle fill="currentColor" cx="100.7" cy="25.5" r="3.9"></circle>
<circle fill="currentColor" cx="84.4" cy="25.5" r="3.9"></circle>
<circle fill="currentColor" cx="68.1" cy="25.5" r="3.9"></circle>
<circle fill="currentColor" cx="3.1" cy="3.1" r="3.1"></circle>
<circle fill="currentColor" cx="19.3" cy="3.1" r="3.1"></circle>
<circle fill="currentColor" cx="35.6" cy="3.1" r="3.1"></circle>
<circle fill="currentColor" cx="51.9" cy="3.1" r="3.1"></circle>
<circle fill="currentColor" cx="116.9" cy="3.1" r="3.1"></circle>
<circle fill="currentColor" cx="100.7" cy="3.1" r="3.1"></circle>
<circle fill="currentColor" cx="84.4" cy="3.1" r="3.1"></circle>
<circle fill="currentColor" cx="68.1" cy="3.1" r="3.1"></circle>
</g>
<g>
<path fill="currentColor" d="M154.2,27.9l-3.5-11.5l-3.5,11.5h-2.9l-4.5-14.7h2.5l3.5,12l3.6-12h2.7l3.6,12l3.5-12h2.4l-4.5,14.7H154.2z"></path>
<path fill="currentColor" d="M170.3,27.9v-1.2c-0.7,0.9-1.7,1.5-3.2,1.5c-2.8,0-5-2.2-5-5.3c0-3.1,2.2-5.3,5-5.3c1.4,0,2.5,0.6,3.2,1.5
v-1.2h2.2v10.1H170.3z M164.4,22.9c0,1.8,1.1,3.2,3,3.2c1.8,0,3-1.4,3-3.2c0-1.8-1.2-3.2-3-3.2C165.5,19.7,164.4,21.1,164.4,22.9z"></path>
<path fill="currentColor" d="M178.6,19.8v4.4c0,1.3,0.7,1.9,1.6,1.9c0.7,0,1.4-0.3,2-0.7l0.9,1.8c-0.8,0.5-1.8,1-3.1,1
c-2.3,0-3.6-1.2-3.6-3.9v-4.4h-2v-2h2v-3h2.2v3h3.9v2H178.6z"></path>
<path fill="currentColor" d="M193.6,22.9c0,0.3,0,0.6,0,0.8h-7.4c0.3,1.8,1.6,2.6,3,2.6c1,0,2.1-0.4,2.9-1.1l1.1,1.6
c-1.2,1-2.6,1.4-4.1,1.4c-3,0-5.1-2.1-5.1-5.3c0-3.1,2-5.3,5-5.3C191.6,17.6,193.6,19.7,193.6,22.9z M186.1,22h5.2
c-0.2-1.6-1.2-2.5-2.6-2.5C187.2,19.5,186.3,20.6,186.1,22z"></path>
<path fill="currentColor" d="M202.8,17.9l-0.5,2.2c-0.5-0.2-1.1-0.4-1.7-0.4c-1.4,0-2.4,1-2.4,2.7v5.5H196V17.9h2.2V19
c0.7-1,1.7-1.4,2.9-1.4C201.8,17.6,202.3,17.7,202.8,17.9z"></path>
<path fill="currentColor" d="M210.5,27.9V13.2h10.6v2.2h-8.2v4h7.9v2.2h-7.9v4.1h8.3v2.2H210.5z"></path>
<path fill="currentColor" d="M233.5,21.6v6.3h-2.2v-5.6c0-1.7-0.9-2.6-2.3-2.6c-1.4,0-2.6,0.9-2.6,2.7v5.6h-2.2V17.9h2.2v1.2
c0.8-1.2,2.1-1.5,3.1-1.5C231.8,17.6,233.5,19.2,233.5,21.6z"></path>
<path fill="currentColor" d="M238.8,27.9l-4-10.1h2.4l3,7.8l3-7.8h2.3l-4,10.1H238.8z"></path>
<path fill="currentColor" d="M249.8,14.4c0,0.9-0.7,1.5-1.6,1.5c-0.9,0-1.5-0.7-1.5-1.5c0-0.9,0.7-1.6,1.5-1.6
C249.1,12.8,249.8,13.5,249.8,14.4z M247.1,27.9V17.9h2.2v10.1H247.1z"></path>
<path fill="currentColor" d="M259.2,17.9l-0.5,2.2c-0.5-0.2-1.1-0.4-1.7-0.4c-1.4,0-2.4,1-2.4,2.7v5.5h-2.2V17.9h2.2V19
c0.7-1,1.7-1.4,2.9-1.4C258.1,17.6,258.7,17.7,259.2,17.9z"></path>
<path fill="currentColor" d="M270.9,22.9c0,3-2.3,5.3-5.4,5.3s-5.4-2.3-5.4-5.3c0-3,2.3-5.3,5.4-5.3S270.9,19.9,270.9,22.9z M262.3,22.9
c0,1.9,1.4,3.2,3.1,3.2c1.8,0,3.2-1.3,3.2-3.2c0-1.9-1.4-3.2-3.2-3.2C263.7,19.7,262.3,21,262.3,22.9z"></path>
<path fill="currentColor" d="M282.7,21.6v6.3h-2.2v-5.6c0-1.7-0.9-2.6-2.3-2.6c-1.4,0-2.6,0.9-2.6,2.7v5.6h-2.2V17.9h2.2v1.2
c0.8-1.2,2.1-1.5,3.1-1.5C281,17.6,282.7,19.2,282.7,21.6z"></path>
<path fill="currentColor" d="M302.2,21.6v6.3H300v-5.6c0-1.7-0.9-2.6-2.3-2.6c-1.4,0-2.6,0.9-2.6,2.7v5.6h-2.2v-5.6c0-1.7-0.9-2.6-2.3-2.6
c-1.4,0-2.6,0.9-2.6,2.7v5.6h-2.2V17.9h2.2v1.2c0.8-1.2,2.1-1.5,3.1-1.5c1.5,0,2.8,0.7,3.5,1.8c0.9-1.4,2.4-1.8,3.7-1.8
C300.5,17.6,302.2,19.2,302.2,21.6z"></path>
<path fill="currentColor" d="M314.3,22.9c0,0.3,0,0.6,0,0.8h-7.4c0.3,1.8,1.6,2.6,3,2.6c1,0,2.1-0.4,2.9-1.1l1.1,1.6
c-1.2,1-2.6,1.4-4.1,1.4c-3,0-5.1-2.1-5.1-5.3c0-3.1,2-5.3,5-5.3C312.3,17.6,314.3,19.7,314.3,22.9z M306.8,22h5.2
c-0.2-1.6-1.2-2.5-2.6-2.5C307.9,19.5,307,20.6,306.8,22z"></path>
<path fill="currentColor" d="M326.1,21.6v6.3h-2.2v-5.6c0-1.7-0.9-2.6-2.3-2.6c-1.4,0-2.6,0.9-2.6,2.7v5.6h-2.2V17.9h2.2v1.2
c0.8-1.2,2.1-1.5,3.1-1.5C324.4,17.6,326.1,19.2,326.1,21.6z"></path>
<path fill="currentColor" d="M332,19.8v4.4c0,1.3,0.7,1.9,1.6,1.9c0.7,0,1.4-0.3,2-0.7l0.9,1.8c-0.8,0.5-1.8,1-3.1,1
c-2.3,0-3.6-1.2-3.6-3.9v-4.4h-2v-2h2v-3h2.2v3h3.9v2H332z"></path>
<path fill="currentColor" d="M151.5,51.9l-1.4-3.7h-6.7l-1.4,3.7h-2.5l5.8-14.7h3l5.8,14.7H151.5z M149.2,45.9l-2.5-6.3l-2.5,6.3H149.2z"></path>
<path fill="currentColor" d="M160,43.5c-1.2,0-1.9,0.5-1.9,1.2s0.7,0.9,1.7,1l1,0.2c2.2,0.3,3.5,1.2,3.5,3c0,1.9-1.7,3.3-4.6,3.3
c-1,0-2.9-0.2-4.3-1.3l1-1.6c0.7,0.6,1.7,1,3.3,1c1.5,0,2.3-0.5,2.3-1.2c0-0.6-0.5-0.9-1.7-1.1l-1-0.1c-2.2-0.3-3.4-1.3-3.4-2.9
c0-2,1.6-3.2,4.2-3.2c1.6,0,3,0.4,4.1,1.1l-0.9,1.7C162.5,44,161.2,43.5,160,43.5z"></path>
<path fill="currentColor" d="M170.3,43.5c-1.2,0-1.9,0.5-1.9,1.2s0.7,0.9,1.7,1l1,0.2c2.2,0.3,3.5,1.2,3.5,3c0,1.9-1.7,3.3-4.6,3.3
c-1,0-2.9-0.2-4.3-1.3l1-1.6c0.7,0.6,1.7,1,3.3,1c1.5,0,2.3-0.5,2.3-1.2c0-0.6-0.5-0.9-1.7-1.1l-1-0.1c-2.2-0.3-3.4-1.3-3.4-2.9
c0-2,1.6-3.2,4.2-3.2c1.6,0,3,0.4,4.1,1.1l-0.9,1.7C172.8,44,171.5,43.5,170.3,43.5z"></path>
<path fill="currentColor" d="M187,46.9c0,3-2.3,5.3-5.4,5.3s-5.4-2.3-5.4-5.3c0-3,2.3-5.3,5.4-5.3S187,43.9,187,46.9z M178.4,46.9
c0,1.9,1.4,3.2,3.1,3.2s3.2-1.3,3.2-3.2c0-1.9-1.4-3.2-3.2-3.2S178.4,45,178.4,46.9z"></path>
<path fill="currentColor" d="M197.8,43.2l-1.4,1.5c-0.7-0.7-1.4-1-2.4-1c-1.7,0-3,1.3-3,3.2c0,1.9,1.3,3.2,3,3.2c1,0,1.8-0.5,2.5-1l1.4,1.5
c-0.9,1.1-2.2,1.6-3.8,1.6c-3.2,0-5.3-2.3-5.3-5.3c0-3,2.1-5.3,5.3-5.3C195.6,41.6,196.9,42.1,197.8,43.2z"></path>
<path fill="currentColor" d="M202.5,38.4c0,0.9-0.7,1.5-1.6,1.5c-0.9,0-1.5-0.7-1.5-1.5c0-0.9,0.7-1.6,1.5-1.6
C201.8,36.8,202.5,37.5,202.5,38.4z M199.8,51.9V41.9h2.2v10.1H199.8z"></path>
<path fill="currentColor" d="M212.5,51.9v-1.2c-0.7,0.9-1.7,1.5-3.2,1.5c-2.8,0-5-2.2-5-5.3c0-3.1,2.2-5.3,5-5.3c1.4,0,2.5,0.6,3.2,1.5
v-1.2h2.2v10.1H212.5z M206.6,46.9c0,1.8,1.1,3.2,3,3.2c1.8,0,3-1.4,3-3.2c0-1.8-1.2-3.2-3-3.2C207.7,43.7,206.6,45.1,206.6,46.9z"></path>
<path fill="currentColor" d="M220.8,43.8v4.4c0,1.3,0.7,1.9,1.6,1.9c0.7,0,1.4-0.3,2-0.7l0.9,1.8c-0.8,0.5-1.8,1-3.1,1
c-2.3,0-3.6-1.2-3.6-3.9v-4.4h-2v-2h2v-3h2.2v3h3.9v2H220.8z"></path>
<path fill="currentColor" d="M229.7,38.4c0,0.9-0.7,1.5-1.6,1.5c-0.9,0-1.5-0.7-1.5-1.5c0-0.9,0.7-1.6,1.5-1.6
C229,36.8,229.7,37.5,229.7,38.4z M227,51.9V41.9h2.2v10.1H227z"></path>
<path fill="currentColor" d="M242.4,46.9c0,3-2.3,5.3-5.4,5.3s-5.4-2.3-5.4-5.3c0-3,2.3-5.3,5.4-5.3S242.4,43.9,242.4,46.9z M233.8,46.9
c0,1.9,1.4,3.2,3.1,3.2s3.2-1.3,3.2-3.2c0-1.9-1.4-3.2-3.2-3.2S233.8,45,233.8,46.9z"></path>
<path fill="currentColor" d="M254.1,45.6v6.3h-2.2v-5.6c0-1.7-0.9-2.6-2.3-2.6c-1.4,0-2.6,0.9-2.6,2.7v5.6h-2.2V41.9h2.2v1.2
c0.8-1.2,2.1-1.5,3.1-1.5C252.5,41.6,254.1,43.2,254.1,45.6z"></path>
<path fill="currentColor" d="M272.8,46.9c0,3-2.3,5.3-5.4,5.3s-5.4-2.3-5.4-5.3c0-3,2.3-5.3,5.4-5.3S272.8,43.9,272.8,46.9z M264.3,46.9
c0,1.9,1.4,3.2,3.1,3.2s3.2-1.3,3.2-3.2c0-1.9-1.4-3.2-3.2-3.2S264.3,45,264.3,46.9z"></path>
<path fill="currentColor" d="M278.2,43.8v8.1H276v-8.1h-2v-2h2v-1.7c0-2,1-3.6,3.4-3.6c1.2,0,2,0.3,2.8,0.8l-0.8,1.8
c-0.5-0.3-1.2-0.5-1.9-0.5c-0.9,0-1.3,0.5-1.3,1.6v1.7h3.4v2H278.2z"></path>
<path fill="currentColor" d="M295.1,39.5v12.5h-2.4V39.5H288v-2.2h11.9v2.2H295.1z"></path>
<path fill="currentColor" d="M309.1,46.9c0,0.3,0,0.6,0,0.8h-7.4c0.3,1.8,1.6,2.6,3,2.6c1,0,2.1-0.4,2.9-1.1l1.1,1.6
c-1.2,1-2.6,1.4-4.1,1.4c-3,0-5.1-2.1-5.1-5.3c0-3.1,2-5.3,5-5.3C307.1,41.6,309.1,43.7,309.1,46.9z M301.6,46h5.2
c-0.2-1.6-1.2-2.5-2.6-2.5C302.7,43.5,301.9,44.6,301.6,46z"></path>
<path fill="currentColor" d="M320.3,51.9h-2.7l-2.6-3.5l-2.5,3.5H310l3.8-5.1l-3.7-4.9h2.7l2.4,3.4l2.5-3.4h2.6l-3.7,4.9L320.3,51.9z"></path>
<path fill="currentColor" d="M329.2,51.9v-1.2c-0.7,0.9-1.7,1.5-3.2,1.5c-2.8,0-5-2.2-5-5.3c0-3.1,2.2-5.3,5-5.3c1.4,0,2.5,0.6,3.2,1.5
v-1.2h2.2v10.1H329.2z M323.3,46.9c0,1.8,1.1,3.2,3,3.2c1.8,0,3-1.4,3-3.2c0-1.8-1.2-3.2-3-3.2C324.4,43.7,323.3,45.1,323.3,46.9z"></path>
<path fill="currentColor" d="M338.2,43.5c-1.2,0-1.9,0.5-1.9,1.2s0.7,0.9,1.7,1l1,0.2c2.2,0.3,3.5,1.2,3.5,3c0,1.9-1.7,3.3-4.6,3.3
c-1,0-2.9-0.2-4.3-1.3l1-1.6c0.7,0.6,1.7,1,3.3,1c1.5,0,2.3-0.5,2.3-1.2c0-0.6-0.5-0.9-1.7-1.1l-1-0.1c-2.2-0.3-3.4-1.3-3.4-2.9
c0-2,1.6-3.2,4.2-3.2c1.6,0,3,0.4,4.1,1.1l-0.9,1.7C340.7,44,339.5,43.5,338.2,43.5z"></path>
</g>
</svg></div><div class="contact text-1xs lg:pl-16"><a href="tel:(512) 693-0060" class="text-white hover:text-blue-light no-underline block mb-2">(512) 693-0060</a>
<a href="mailto:admin@weat.org" class="text-white hover:text-blue-light no-underline block mb-8">admin@weat.org</a><p class="text-white no-underline block mb-8">
<span class="block mb-2">
<span class="street">1825 Fortview Road, Suite 108  </span>
</span>
<span class="block">
<span class="city">Austin </span>
<span class="state">TX </span>
<span class="zipcode">78704</span></span></p></div><div class="social reset-list text-2xs mb-14 sm:mb-18 lg:pl-16"><ul class="list-reset flex items-center justify-center lg:justify-start"><li class="inline-block">
<a href="https://www.facebook.com/The-Water-Environment-Association-of-Texas-218670414844966" class="icon-facebook block no-underline social-link text-white hover:text-blue-light">
<span class="icon --sm sm:--md mr-3"><svg viewBox="0 0 24 24">
      <path fill="currentColor" d="M9.03153,23L9,13H5V9h4V6.5C9,2.7886,11.29832,1,14.60914,1c1.58592,0,2.94893,0.11807,3.34615,0.17085
   v3.87863l-2.29623,0.00104c-1.80061,0-2.14925,0.85562-2.14925,2.11119V9H18.75l-2,4h-3.24019v10H9.03153z"></path>
   </svg></span>
</a></li><li class="inline-block">
<a href="https://twitter.com/WaterEnvAssnTX" class="icon-twitter block no-underline social-link text-white hover:text-blue-light">
<span class="icon --sm sm:--md mr-3"><svg viewBox="0 0 24 24">
      <path fill="currentColor" d="M24,4.55671c-0.88301,0.39161-1.83194,0.65634-2.82804,0.77533
      c1.01666-0.60936,1.7974-1.57433,2.16501-2.72414c-0.95134,0.56428-2.00512,0.97406-3.12672,1.1949
      c-0.89818-0.957-2.17787-1.55496-3.59403-1.55496c-2.71943,0-4.92403,2.20462-4.92403,4.92378
      c0,0.38595,0.04355,0.7617,0.12748,1.12211C7.72747,8.0884,4.09932,6.12812,1.67078,3.14911
      C1.24693,3.87636,1.00415,4.72216,1.00415,5.62454c0,1.70824,0.86929,3.21537,2.19047,4.09838
      C2.38748,9.69738,1.62825,9.47585,0.96437,9.10704c-0.00034,0.02058-0.00042,0.04115-0.00042,0.0619
      c0,2.38572,1.69726,4.37584,3.9498,4.82815c-0.41321,0.11247-0.8482,0.17266-1.29725,0.17266
      c-0.31729,0-0.62574-0.03087-0.9264-0.0883c0.6266,1.95617,2.445,3.37979,4.59964,3.41957
      c-1.68518,1.32058-3.80827,2.10774-6.11516,2.10774c-0.39745,0-0.7894-0.02332-1.17458-0.06875
      c2.17907,1.39704,4.76724,2.21216,7.54787,2.21216c9.05687,0,14.00945-7.50286,14.00945-14.00958
      c0-0.21347-0.00479-0.42582-0.01423-0.63697C22.50505,6.41137,23.33989,5.54413,24,4.55671z"></path>     
   </svg></span>
</a></li><li class="inline-block">
<a href="https://www.youtube.com/user/WaterEnvAssnTX" class="icon-youtube block no-underline social-link text-white hover:text-blue-light">
<span class="icon --sm sm:--md mr-3"><svg viewBox="0 0 24 24">
      <path fill="currentColor" d="M23.8,10.2c0,0-0.2-1.7-1-2.4c-0.9-1-1.9-1-2.4-1C17,6.6,12,6.6,12,6.6s-5,0-8.4,0.2c-0.5,0.1-1.5,0.1-2.4,1
   c-0.7,0.7-1,2.4-1,2.4S0,12.1,0,14.1v1.8c0,1.9,0.2,3.9,0.2,3.9s0.2,1.7,1,2.4c0.9,1,2.1,0.9,2.6,1c1.9,0.2,8.2,0.2,8.2,0.2
   s5,0,8.4-0.3c0.5-0.1,1.5-0.1,2.4-1c0.7-0.7,1-2.4,1-2.4s0.2-1.9,0.2-3.9V14C24,12.1,23.8,10.2,23.8,10.2z M9.5,18.1v-6.7l6.5,3.4
   L9.5,18.1z"></path>
   </svg></span>
</a></li><li class="inline-block">
<a href="https://www.instagram.com/waterenvassntx" class="icon-instagram block no-underline social-link text-white hover:text-blue-light">
<span class="icon --sm sm:--md mr-3"><svg viewBox="0 0 24 24">
      <path fill="currentColor" d="M21.986,2.014c-1.375-1.375-3.088-1.853-5.038-1.942C15.668,0.014,15.259,0,12,0S8.332,0.014,7.052,0.072
      c-1.95,0.089-3.663,0.567-5.038,1.942C0.639,3.389,0.161,5.102,0.072,7.052C0.014,8.332,0,8.741,0,12
      c0,3.259,0.014,3.668,0.072,4.948c0.089,1.95,0.567,3.663,1.942,5.038c1.375,1.375,3.088,1.853,5.038,1.942
      C8.332,23.986,8.741,24,12,24s3.668-0.014,4.948-0.072c1.95-0.089,3.663-0.567,5.038-1.942c1.375-1.375,1.853-3.088,1.942-5.038
      C23.986,15.668,24,15.259,24,12c0-3.259-0.014-3.668-0.072-4.948C23.839,5.103,23.361,3.389,21.986,2.014z M21.768,16.849
      c-0.062,1.366-0.336,2.633-1.311,3.608s-2.242,1.249-3.608,1.311c-1.265,0.058-1.645,0.07-4.849,0.07s-3.584-0.012-4.849-0.07
      c-1.366-0.062-2.633-0.336-3.608-1.311s-1.249-2.242-1.311-3.608c-0.058-1.265-0.07-1.645-0.07-4.849
      c0-3.204,0.012-3.584,0.07-4.849c0.062-1.366,0.336-2.633,1.311-3.608c0.975-0.975,2.242-1.249,3.608-1.311
      C8.416,2.174,8.796,2.162,12,2.162s3.584,0.012,4.849,0.07c1.366,0.062,2.633,0.336,3.608,1.311
      c0.975,0.975,1.249,2.242,1.311,3.608c0.058,1.265,0.07,1.645,0.07,4.849C21.838,15.204,21.826,15.584,21.768,16.849z"></path>
      <path fill="currentColor" d="M12,5.838c-3.403,0-6.162,2.759-6.162,6.162S8.597,18.162,12,18.162s6.162-2.759,6.162-6.162S15.403,5.838,12,5.838z M12,16
      c-2.209,0-4-1.791-4-4c0-2.209,1.791-4,4-4s4,1.791,4,4C16,14.209,14.209,16,12,16z"></path>
      <circle fill="currentColor" cx="18.406" cy="5.594" r="1.44"></circle>      
   </svg></span>
</a></li><li class="inline-block"><a href="http://www.wef.org/" class="ml-2 uppercase tracking-wide text-white hover:text-blue-light no-underline inline-block font-bold">Visit WEF »</a></li></ul></div><div class="copyright lg:pl-16">
<small class="text-2xs tracking-md">© 2018 Water Environment Association of Texas</small></div></div></div><div class="info-group w-full lg:w-1/2 flex-wrap flex"><div class="info-group__col w-1/2 md:w-1/3 pr-6"><nav class="footer-list mb-8" role="navigation"><h5 class="text-blue-light uppercase font-bold mb-5 text-2xs tracking-wide">
About</h5><ul class="list-reset text-1xs mb-8"><li class="mb-3"><a href="/about-weat" target="" class="text-white hover:text-blue-light no-underline text-1xs">About WEAT</a></li><li class="mb-3"><a href="/executive-board" target="" class="text-white hover:text-blue-light no-underline text-1xs">Executive Board</a></li></ul><h5 class="text-blue-light uppercase font-bold mb-5 text-2xs tracking-wide">
Join</h5><ul class="list-reset text-1xs mb-8"><li class="mb-3"><a href="/become-a-member" target="" class="text-white hover:text-blue-light no-underline text-1xs">Become a Member</a></li><li class="mb-3"><a href="/members/join" target="" class="text-white hover:text-blue-light no-underline text-1xs">Join/Renew</a></li><li class="mb-3"><a href="/committees" target="" class="text-white hover:text-blue-light no-underline text-1xs">Committees</a></li><li class="mb-3"><a href="/sections" target="" class="text-white hover:text-blue-light no-underline text-1xs">Sections</a></li></ul></nav></div><div class="info-group__col w-1/2 md:w-1/3 pr-6"><nav class="footer-list mb-8" role="navigation"><h5 class="text-blue-light uppercase font-bold mb-5 text-2xs tracking-wide">
Learn</h5><ul class="list-reset text-1xs mb-8"><li class="mb-3"><a href="/learn" target="" class="text-white hover:text-blue-light no-underline text-1xs">Featured Committee Content</a></li><li class="mb-3"><a href="/texas-wet" target="" class="text-white hover:text-blue-light no-underline text-1xs">Publications</a></li></ul><h5 class="text-blue-light uppercase font-bold mb-5 text-2xs tracking-wide">
Engage</h5><ul class="list-reset text-1xs mb-8"><li class="mb-3"><a href="https://weat.frb.io/event/texas-water/2018-04-23" target="" class="text-white hover:text-blue-light no-underline text-1xs">Texas Water!</a></li><li class="mb-3"><a href="/events" target="" class="text-white hover:text-blue-light no-underline text-1xs">Upcoming Events</a></li><li class="mb-3"><a href="/past/events" target="" class="text-white hover:text-blue-light no-underline text-1xs">Event Archive</a></li></ul></nav></div><div class="info-group__col w-full flex md:block md:w-1/3 pr-6"><nav class="footer-list mb-8 md:w-auto w-1/2" role="navigation"><h5 class="text-blue-light uppercase font-bold mb-5 text-2xs tracking-wide">
More</h5><ul class="list-reset text-1xs mb-8"><li class="mb-3"><a href="/contact" target="" class="text-white hover:text-blue-light no-underline text-1xs">Contact</a></li><li class="mb-3"><a href="/members/login" target="" class="text-white hover:text-blue-light no-underline text-1xs">Login</a></li></ul></nav></div></div></div></div></footer>