{# Site Header #}
<section class="site-header    simple-container --x-0 relative"><div class="main-menu-bar   md:flex md:justify-between items-center pt-4 md:py-6"><div class="main-menu__brand    pl-4  inline-block w-48 md:w-1/4 lg:w-1/3 sm:mr-2 md:pb-0 pb-4">
<a href="/" class="inline-block brand-logo text-blue hover:text-blue-light">
<!--?xml version="1.0" encoding="utf-8"?-->
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 342.5 65" style="enable-background:new 0 0 342.5 65;" xml:space="preserve">
<g>
<circle fill="currentColor" cx="43.7" cy="59.7" r="5.3"></circle>
<circle fill="currentColor" cx="76.3" cy="59.7" r="5.3"></circle>
<circle fill="currentColor" cx="27.4" cy="36.9" r="4.4"></circle>
<circle fill="currentColor" cx="43.7" cy="36.9" r="4.4"></circle>
<circle fill="currentColor" cx="60" cy="36.9" r="4.4"></circle>
<circle fill="currentColor" cx="92.6" cy="36.9" r="4.4"></circle>
<circle fill="currentColor" cx="76.3" cy="36.9" r="4.4"></circle>
<circle fill="currentColor" cx="35.5" cy="48.3" r="4.8"></circle>
<circle fill="currentColor" cx="51.8" cy="48.3" r="4.8"></circle>
<circle fill="currentColor" cx="84.5" cy="48.3" r="4.8"></circle>
<circle fill="currentColor" cx="68.2" cy="48.3" r="4.8"></circle>
<circle fill="currentColor" cx="11.2" cy="14.1" r="3.5"></circle>
<circle fill="currentColor" cx="27.4" cy="14.1" r="3.5"></circle>
<circle fill="currentColor" cx="43.7" cy="14.1" r="3.5"></circle>
<circle fill="currentColor" cx="60" cy="14.1" r="3.5"></circle>
<circle fill="currentColor" cx="108.8" cy="14.1" r="3.5"></circle>
<circle fill="currentColor" cx="92.6" cy="14.1" r="3.5"></circle>
<circle fill="currentColor" cx="76.3" cy="14.1" r="3.5"></circle>
<circle fill="currentColor" cx="19.3" cy="25.5" r="3.9"></circle>
<circle fill="currentColor" cx="35.6" cy="25.5" r="3.9"></circle>
<circle fill="currentColor" cx="51.9" cy="25.5" r="3.9"></circle>
<circle fill="currentColor" cx="100.7" cy="25.5" r="3.9"></circle>
<circle fill="currentColor" cx="84.4" cy="25.5" r="3.9"></circle>
<circle fill="currentColor" cx="68.1" cy="25.5" r="3.9"></circle>
<circle fill="currentColor" cx="3.1" cy="3.1" r="3.1"></circle>
<circle fill="currentColor" cx="19.3" cy="3.1" r="3.1"></circle>
<circle fill="currentColor" cx="35.6" cy="3.1" r="3.1"></circle>
<circle fill="currentColor" cx="51.9" cy="3.1" r="3.1"></circle>
<circle fill="currentColor" cx="116.9" cy="3.1" r="3.1"></circle>
<circle fill="currentColor" cx="100.7" cy="3.1" r="3.1"></circle>
<circle fill="currentColor" cx="84.4" cy="3.1" r="3.1"></circle>
<circle fill="currentColor" cx="68.1" cy="3.1" r="3.1"></circle>
</g>
<g>
<path fill="currentColor" d="M154.2,27.9l-3.5-11.5l-3.5,11.5h-2.9l-4.5-14.7h2.5l3.5,12l3.6-12h2.7l3.6,12l3.5-12h2.4l-4.5,14.7H154.2z"></path>
<path fill="currentColor" d="M170.3,27.9v-1.2c-0.7,0.9-1.7,1.5-3.2,1.5c-2.8,0-5-2.2-5-5.3c0-3.1,2.2-5.3,5-5.3c1.4,0,2.5,0.6,3.2,1.5
v-1.2h2.2v10.1H170.3z M164.4,22.9c0,1.8,1.1,3.2,3,3.2c1.8,0,3-1.4,3-3.2c0-1.8-1.2-3.2-3-3.2C165.5,19.7,164.4,21.1,164.4,22.9z"></path>
<path fill="currentColor" d="M178.6,19.8v4.4c0,1.3,0.7,1.9,1.6,1.9c0.7,0,1.4-0.3,2-0.7l0.9,1.8c-0.8,0.5-1.8,1-3.1,1
c-2.3,0-3.6-1.2-3.6-3.9v-4.4h-2v-2h2v-3h2.2v3h3.9v2H178.6z"></path>
<path fill="currentColor" d="M193.6,22.9c0,0.3,0,0.6,0,0.8h-7.4c0.3,1.8,1.6,2.6,3,2.6c1,0,2.1-0.4,2.9-1.1l1.1,1.6
c-1.2,1-2.6,1.4-4.1,1.4c-3,0-5.1-2.1-5.1-5.3c0-3.1,2-5.3,5-5.3C191.6,17.6,193.6,19.7,193.6,22.9z M186.1,22h5.2
c-0.2-1.6-1.2-2.5-2.6-2.5C187.2,19.5,186.3,20.6,186.1,22z"></path>
<path fill="currentColor" d="M202.8,17.9l-0.5,2.2c-0.5-0.2-1.1-0.4-1.7-0.4c-1.4,0-2.4,1-2.4,2.7v5.5H196V17.9h2.2V19
c0.7-1,1.7-1.4,2.9-1.4C201.8,17.6,202.3,17.7,202.8,17.9z"></path>
<path fill="currentColor" d="M210.5,27.9V13.2h10.6v2.2h-8.2v4h7.9v2.2h-7.9v4.1h8.3v2.2H210.5z"></path>
<path fill="currentColor" d="M233.5,21.6v6.3h-2.2v-5.6c0-1.7-0.9-2.6-2.3-2.6c-1.4,0-2.6,0.9-2.6,2.7v5.6h-2.2V17.9h2.2v1.2
c0.8-1.2,2.1-1.5,3.1-1.5C231.8,17.6,233.5,19.2,233.5,21.6z"></path>
<path fill="currentColor" d="M238.8,27.9l-4-10.1h2.4l3,7.8l3-7.8h2.3l-4,10.1H238.8z"></path>
<path fill="currentColor" d="M249.8,14.4c0,0.9-0.7,1.5-1.6,1.5c-0.9,0-1.5-0.7-1.5-1.5c0-0.9,0.7-1.6,1.5-1.6
C249.1,12.8,249.8,13.5,249.8,14.4z M247.1,27.9V17.9h2.2v10.1H247.1z"></path>
<path fill="currentColor" d="M259.2,17.9l-0.5,2.2c-0.5-0.2-1.1-0.4-1.7-0.4c-1.4,0-2.4,1-2.4,2.7v5.5h-2.2V17.9h2.2V19
c0.7-1,1.7-1.4,2.9-1.4C258.1,17.6,258.7,17.7,259.2,17.9z"></path>
<path fill="currentColor" d="M270.9,22.9c0,3-2.3,5.3-5.4,5.3s-5.4-2.3-5.4-5.3c0-3,2.3-5.3,5.4-5.3S270.9,19.9,270.9,22.9z M262.3,22.9
c0,1.9,1.4,3.2,3.1,3.2c1.8,0,3.2-1.3,3.2-3.2c0-1.9-1.4-3.2-3.2-3.2C263.7,19.7,262.3,21,262.3,22.9z"></path>
<path fill="currentColor" d="M282.7,21.6v6.3h-2.2v-5.6c0-1.7-0.9-2.6-2.3-2.6c-1.4,0-2.6,0.9-2.6,2.7v5.6h-2.2V17.9h2.2v1.2
c0.8-1.2,2.1-1.5,3.1-1.5C281,17.6,282.7,19.2,282.7,21.6z"></path>
<path fill="currentColor" d="M302.2,21.6v6.3H300v-5.6c0-1.7-0.9-2.6-2.3-2.6c-1.4,0-2.6,0.9-2.6,2.7v5.6h-2.2v-5.6c0-1.7-0.9-2.6-2.3-2.6
c-1.4,0-2.6,0.9-2.6,2.7v5.6h-2.2V17.9h2.2v1.2c0.8-1.2,2.1-1.5,3.1-1.5c1.5,0,2.8,0.7,3.5,1.8c0.9-1.4,2.4-1.8,3.7-1.8
C300.5,17.6,302.2,19.2,302.2,21.6z"></path>
<path fill="currentColor" d="M314.3,22.9c0,0.3,0,0.6,0,0.8h-7.4c0.3,1.8,1.6,2.6,3,2.6c1,0,2.1-0.4,2.9-1.1l1.1,1.6
c-1.2,1-2.6,1.4-4.1,1.4c-3,0-5.1-2.1-5.1-5.3c0-3.1,2-5.3,5-5.3C312.3,17.6,314.3,19.7,314.3,22.9z M306.8,22h5.2
c-0.2-1.6-1.2-2.5-2.6-2.5C307.9,19.5,307,20.6,306.8,22z"></path>
<path fill="currentColor" d="M326.1,21.6v6.3h-2.2v-5.6c0-1.7-0.9-2.6-2.3-2.6c-1.4,0-2.6,0.9-2.6,2.7v5.6h-2.2V17.9h2.2v1.2
c0.8-1.2,2.1-1.5,3.1-1.5C324.4,17.6,326.1,19.2,326.1,21.6z"></path>
<path fill="currentColor" d="M332,19.8v4.4c0,1.3,0.7,1.9,1.6,1.9c0.7,0,1.4-0.3,2-0.7l0.9,1.8c-0.8,0.5-1.8,1-3.1,1
c-2.3,0-3.6-1.2-3.6-3.9v-4.4h-2v-2h2v-3h2.2v3h3.9v2H332z"></path>
<path fill="currentColor" d="M151.5,51.9l-1.4-3.7h-6.7l-1.4,3.7h-2.5l5.8-14.7h3l5.8,14.7H151.5z M149.2,45.9l-2.5-6.3l-2.5,6.3H149.2z"></path>
<path fill="currentColor" d="M160,43.5c-1.2,0-1.9,0.5-1.9,1.2s0.7,0.9,1.7,1l1,0.2c2.2,0.3,3.5,1.2,3.5,3c0,1.9-1.7,3.3-4.6,3.3
c-1,0-2.9-0.2-4.3-1.3l1-1.6c0.7,0.6,1.7,1,3.3,1c1.5,0,2.3-0.5,2.3-1.2c0-0.6-0.5-0.9-1.7-1.1l-1-0.1c-2.2-0.3-3.4-1.3-3.4-2.9
c0-2,1.6-3.2,4.2-3.2c1.6,0,3,0.4,4.1,1.1l-0.9,1.7C162.5,44,161.2,43.5,160,43.5z"></path>
<path fill="currentColor" d="M170.3,43.5c-1.2,0-1.9,0.5-1.9,1.2s0.7,0.9,1.7,1l1,0.2c2.2,0.3,3.5,1.2,3.5,3c0,1.9-1.7,3.3-4.6,3.3
c-1,0-2.9-0.2-4.3-1.3l1-1.6c0.7,0.6,1.7,1,3.3,1c1.5,0,2.3-0.5,2.3-1.2c0-0.6-0.5-0.9-1.7-1.1l-1-0.1c-2.2-0.3-3.4-1.3-3.4-2.9
c0-2,1.6-3.2,4.2-3.2c1.6,0,3,0.4,4.1,1.1l-0.9,1.7C172.8,44,171.5,43.5,170.3,43.5z"></path>
<path fill="currentColor" d="M187,46.9c0,3-2.3,5.3-5.4,5.3s-5.4-2.3-5.4-5.3c0-3,2.3-5.3,5.4-5.3S187,43.9,187,46.9z M178.4,46.9
c0,1.9,1.4,3.2,3.1,3.2s3.2-1.3,3.2-3.2c0-1.9-1.4-3.2-3.2-3.2S178.4,45,178.4,46.9z"></path>
<path fill="currentColor" d="M197.8,43.2l-1.4,1.5c-0.7-0.7-1.4-1-2.4-1c-1.7,0-3,1.3-3,3.2c0,1.9,1.3,3.2,3,3.2c1,0,1.8-0.5,2.5-1l1.4,1.5
c-0.9,1.1-2.2,1.6-3.8,1.6c-3.2,0-5.3-2.3-5.3-5.3c0-3,2.1-5.3,5.3-5.3C195.6,41.6,196.9,42.1,197.8,43.2z"></path>
<path fill="currentColor" d="M202.5,38.4c0,0.9-0.7,1.5-1.6,1.5c-0.9,0-1.5-0.7-1.5-1.5c0-0.9,0.7-1.6,1.5-1.6
C201.8,36.8,202.5,37.5,202.5,38.4z M199.8,51.9V41.9h2.2v10.1H199.8z"></path>
<path fill="currentColor" d="M212.5,51.9v-1.2c-0.7,0.9-1.7,1.5-3.2,1.5c-2.8,0-5-2.2-5-5.3c0-3.1,2.2-5.3,5-5.3c1.4,0,2.5,0.6,3.2,1.5
v-1.2h2.2v10.1H212.5z M206.6,46.9c0,1.8,1.1,3.2,3,3.2c1.8,0,3-1.4,3-3.2c0-1.8-1.2-3.2-3-3.2C207.7,43.7,206.6,45.1,206.6,46.9z"></path>
<path fill="currentColor" d="M220.8,43.8v4.4c0,1.3,0.7,1.9,1.6,1.9c0.7,0,1.4-0.3,2-0.7l0.9,1.8c-0.8,0.5-1.8,1-3.1,1
c-2.3,0-3.6-1.2-3.6-3.9v-4.4h-2v-2h2v-3h2.2v3h3.9v2H220.8z"></path>
<path fill="currentColor" d="M229.7,38.4c0,0.9-0.7,1.5-1.6,1.5c-0.9,0-1.5-0.7-1.5-1.5c0-0.9,0.7-1.6,1.5-1.6
C229,36.8,229.7,37.5,229.7,38.4z M227,51.9V41.9h2.2v10.1H227z"></path>
<path fill="currentColor" d="M242.4,46.9c0,3-2.3,5.3-5.4,5.3s-5.4-2.3-5.4-5.3c0-3,2.3-5.3,5.4-5.3S242.4,43.9,242.4,46.9z M233.8,46.9
c0,1.9,1.4,3.2,3.1,3.2s3.2-1.3,3.2-3.2c0-1.9-1.4-3.2-3.2-3.2S233.8,45,233.8,46.9z"></path>
<path fill="currentColor" d="M254.1,45.6v6.3h-2.2v-5.6c0-1.7-0.9-2.6-2.3-2.6c-1.4,0-2.6,0.9-2.6,2.7v5.6h-2.2V41.9h2.2v1.2
c0.8-1.2,2.1-1.5,3.1-1.5C252.5,41.6,254.1,43.2,254.1,45.6z"></path>
<path fill="currentColor" d="M272.8,46.9c0,3-2.3,5.3-5.4,5.3s-5.4-2.3-5.4-5.3c0-3,2.3-5.3,5.4-5.3S272.8,43.9,272.8,46.9z M264.3,46.9
c0,1.9,1.4,3.2,3.1,3.2s3.2-1.3,3.2-3.2c0-1.9-1.4-3.2-3.2-3.2S264.3,45,264.3,46.9z"></path>
<path fill="currentColor" d="M278.2,43.8v8.1H276v-8.1h-2v-2h2v-1.7c0-2,1-3.6,3.4-3.6c1.2,0,2,0.3,2.8,0.8l-0.8,1.8
c-0.5-0.3-1.2-0.5-1.9-0.5c-0.9,0-1.3,0.5-1.3,1.6v1.7h3.4v2H278.2z"></path>
<path fill="currentColor" d="M295.1,39.5v12.5h-2.4V39.5H288v-2.2h11.9v2.2H295.1z"></path>
<path fill="currentColor" d="M309.1,46.9c0,0.3,0,0.6,0,0.8h-7.4c0.3,1.8,1.6,2.6,3,2.6c1,0,2.1-0.4,2.9-1.1l1.1,1.6
c-1.2,1-2.6,1.4-4.1,1.4c-3,0-5.1-2.1-5.1-5.3c0-3.1,2-5.3,5-5.3C307.1,41.6,309.1,43.7,309.1,46.9z M301.6,46h5.2
c-0.2-1.6-1.2-2.5-2.6-2.5C302.7,43.5,301.9,44.6,301.6,46z"></path>
<path fill="currentColor" d="M320.3,51.9h-2.7l-2.6-3.5l-2.5,3.5H310l3.8-5.1l-3.7-4.9h2.7l2.4,3.4l2.5-3.4h2.6l-3.7,4.9L320.3,51.9z"></path>
<path fill="currentColor" d="M329.2,51.9v-1.2c-0.7,0.9-1.7,1.5-3.2,1.5c-2.8,0-5-2.2-5-5.3c0-3.1,2.2-5.3,5-5.3c1.4,0,2.5,0.6,3.2,1.5
v-1.2h2.2v10.1H329.2z M323.3,46.9c0,1.8,1.1,3.2,3,3.2c1.8,0,3-1.4,3-3.2c0-1.8-1.2-3.2-3-3.2C324.4,43.7,323.3,45.1,323.3,46.9z"></path>
<path fill="currentColor" d="M338.2,43.5c-1.2,0-1.9,0.5-1.9,1.2s0.7,0.9,1.7,1l1,0.2c2.2,0.3,3.5,1.2,3.5,3c0,1.9-1.7,3.3-4.6,3.3
c-1,0-2.9-0.2-4.3-1.3l1-1.6c0.7,0.6,1.7,1,3.3,1c1.5,0,2.3-0.5,2.3-1.2c0-0.6-0.5-0.9-1.7-1.1l-1-0.1c-2.2-0.3-3.4-1.3-3.4-2.9
c0-2,1.6-3.2,4.2-3.2c1.6,0,3,0.4,4.1,1.1l-0.9,1.7C340.7,44,339.5,43.5,338.2,43.5z"></path>
</g>
</svg>
</a></div><nav class="main-menu bg-blue-dark md:bg-transparent hidden md:block md:flex-1 w-full md:w-auto md:px-0 px-4"><ul class="menu__list   list-reset md:flex md:pt-0 pt-4"><li class="
md:inline-block                           md:px-3 py-1 md:py-0
menu__drop
">
<a data-module="toggleDrop" href="/" target="" class="
uppercase font-bold tracking-wide text-blue-light md:text-black hover:text-blue-light no-underline lg:text-1xs md:text-2xs text-1xs block md:inline-block pb-2 md:pb-0
">
About<span class="indicator icon sm inline-flex md:hidden"><svg viewBox="0 0 24 24">
      <path fill="currentColor" d="M7,23.414l10.707-10.707c0.391-0.391,0.391-1.023,0-1.414L7,0.586L5.586,2l10,10l-10,10L7,23.414z"></path>
   </svg></span>
</a><ul class="menu__drop-menu   hidden md:block md:pb-0 pb-2"><li class="
md:inline-block
">
<a href="/" target="" class="
">
About WEAT</a></li><li class="
md:inline-block
">
<a href="/" target="" class="
">
Executive Board</a></li><li class="
md:inline-block
">
<a href="/" target="" class="
">
Contact</a></li></ul></li><li class="
md:inline-block                           md:px-3 py-1 md:py-0
menu__drop
">
<a data-module="toggleDrop" href="/" target="" class="
uppercase font-bold tracking-wide text-blue-light md:text-black hover:text-blue-light no-underline lg:text-1xs md:text-2xs text-1xs block md:inline-block pb-2 md:pb-0
">
Join<span class="indicator icon sm inline-flex md:hidden"><svg viewBox="0 0 24 24">
      <path fill="currentColor" d="M7,23.414l10.707-10.707c0.391-0.391,0.391-1.023,0-1.414L7,0.586L5.586,2l10,10l-10,10L7,23.414z"></path>
   </svg></span>
</a><ul class="menu__drop-menu   hidden md:block md:pb-0 pb-2"><li class="
md:inline-block
">
<a href="/" target="" class="
">
Become a Member</a></li><li class="
md:inline-block
">
<a href="/" target="" class="
">
Join/Renew</a></li><li class="
md:inline-block
">
<a href="/" target="" class="
">
Committees</a></li><li class="
md:inline-block
">
<a href="/" target="" class="
">
Sections</a></li></ul></li><li class="
md:inline-block                           md:px-3 py-1 md:py-0
menu__drop
">
<a data-module="toggleDrop" href="/" target="" class="
uppercase font-bold tracking-wide text-blue-light md:text-black hover:text-blue-light no-underline lg:text-1xs md:text-2xs text-1xs block md:inline-block pb-2 md:pb-0
">
Learn<span class="indicator icon sm inline-flex md:hidden"><svg viewBox="0 0 24 24">
      <path fill="currentColor" d="M7,23.414l10.707-10.707c0.391-0.391,0.391-1.023,0-1.414L7,0.586L5.586,2l10,10l-10,10L7,23.414z"></path>
   </svg></span>
</a><ul class="menu__drop-menu   hidden md:block md:pb-0 pb-2"><li class="
md:inline-block
">
<a href="/" target="" class="
">
Featured Committee Content</a></li><li class="
md:inline-block
">
<a href="/" target="" class="
">
Texas WET</a></li></ul></li><li class="
md:inline-block                           md:px-3 py-1 md:py-0
menu__drop
">
<a data-module="toggleDrop" href="/" target="" class="
uppercase font-bold tracking-wide text-blue-light md:text-black hover:text-blue-light no-underline lg:text-1xs md:text-2xs text-1xs block md:inline-block pb-2 md:pb-0
">
Engage<span class="indicator icon sm inline-flex md:hidden"><svg viewBox="0 0 24 24">
      <path fill="currentColor" d="M7,23.414l10.707-10.707c0.391-0.391,0.391-1.023,0-1.414L7,0.586L5.586,2l10,10l-10,10L7,23.414z"></path>
   </svg></span>
</a><ul class="menu__drop-menu   hidden md:block md:pb-0 pb-2"><li class="
md:inline-block
">
<a href="/" target="" class="
">
Texas Water!</a></li><li class="
md:inline-block
">
<a href="/" target="" class="
">
Upcoming Events</a></li><li class="
md:inline-block
">
<a href="/" target="" class="
">
Event Archive</a></li><li class="
md:inline-block
">
<a href="/" target="" class="
">
Awards</a></li><li class="
md:inline-block
">
<a href="/" target="" class="
">
Job Board</a></li><li class="
md:inline-block
">
<a href="/" target="" class="
">
Young Professionals</a></li></ul></li><li class="
md:inline-block                           md:px-3 py-1 md:py-0
menu__drop
">
<a data-module="toggleDrop" href="/" target="" class="
uppercase font-bold tracking-wide text-blue-light md:text-black hover:text-blue-light no-underline lg:text-1xs md:text-2xs text-1xs block md:inline-block pb-2 md:pb-0
">
Advocate<span class="indicator icon sm inline-flex md:hidden"><svg viewBox="0 0 24 24">
      <path fill="currentColor" d="M7,23.414l10.707-10.707c0.391-0.391,0.391-1.023,0-1.414L7,0.586L5.586,2l10,10l-10,10L7,23.414z"></path>
   </svg></span>
</a><ul class="menu__drop-menu   hidden md:block md:pb-0 pb-2"><li class="
md:inline-block
">
<a href="/" target="" class="
">
Overview</a></li><li class="
md:inline-block
">
<a href="/" target="" class="
">
Legislative Issues</a></li><li class="
md:inline-block
">
<a href="/" target="" class="
">
Executive Director Corner</a></li><li class="
md:inline-block
">
<a href="/" target="" class="
">
Regulatory Affairs</a></li></ul></li></ul></nav><div class="menu__utility-bar hidden md:block bg-blue-dark md:bg-transparent md:px-0 px-4 sm:pt-0 pt-3"><ul class="utility-menu   list-reset md:py-0 pb-6 pt-4 pr-0 md:pr-4  md:border-0 border-t-2 border-blue-light md:pt-0 pt-2 "><li class="menu__drop   md:inline-block md:py-0 py-1 md:px-3 mb-2 md:mb-0">
<a class="tracking-normal text-blue-light md:text-blue hover:text-blue-light no-underline lg:text-1xs md:text-2xs text-xs " href="/">
Member Login
</a></li><li class="has-icon   md:inline-block md:pt-0 pt-2">
<a href="/">
<span class="inline-block md:hidden text-blue-light text-xs">Search</span>
<span class="icon search top-2 relative --sm tr-all ml-1 text-blue-light md:text-black hover:text-blue-light">
<svg viewBox="0 0 24 24">
      <path fill="currentColor" d="M10,0C4.486,0,0,4.486,0,10s4.486,10,10,10c2.035,0,3.928-0.614,5.509-1.663l4.369,4.37c0.391,0.391,1.024,0.391,1.414,0
   l1.414-1.414c0.391-0.391,0.391-1.024,0-1.414l-4.37-4.37C19.386,13.928,20,12.035,20,10C20,4.486,15.514,0,10,0z M10,18
   c-4.411,0-8-3.589-8-8s3.589-8,8-8s8,3.589,8,8S14.411,18,10,18z"></path>

   </svg>
</span>
</a></li></ul></div></div><div class="main-menu__toggle    absolute tr-all-1 cursor-pointer inline-block mt-1 md:hidden" data-module="toggleTarget" data-target="main-menu-bar">
<span></span>
<span></span>
<span></span>
<span></span></div></section>