.bg-pattern {
	@apply relative;
	&:after,&:before {
		content:'';
		@apply absolute pin-t ;
		// hidden
	}

}

.pattern-dot-corners {
	
	&:before {
		@apply pin-l pin-b w-full h-full;	
	    background-position: 0 100%;

	    background-size: 20%;
		
	    background-image: url(../svg/corner-dots--left.svg);
	    background-repeat: no-repeat;
	    top: inherit;
	}

	&:after {
		@apply pin-r  w-full h-full;
	    background-position: 100.3% -1%;
	    background-size: 20%;
		
	    background-image: url(../svg/corner-dots--right.svg);
	    background-repeat: no-repeat;
	    // top: inherit;
	}
}

.pattern-dot-wave {
	@apply relative;

	&:after {
		@apply pin-l w-full h-full opacity-25 ;
		background-image: url(../svg/pattern_02.svg);
		background-position: 10% -20%;
		background-repeat: no-repeat;
		background-size: 120%;
	}
}


.pattern-dot-edge {
	@apply relative;

	&:after {
		@apply h-full pin-r;
	    width: 65px;
	    background-image: url(/assets/svg/pattern_page-header-bg.svg);
	    background-position: -6px 16px;
	    background-repeat: repeat-y;
	    background-size: auto 170px;
	}
}



@screen sm {
	.bg-pattern {
		&:after {
			// @apply block
		}
	}
}