// /*Core Transitions*/
// .timing-1 {
// 	transition-timing-function: ease;
// }
// .timing-2 {
// 	transition-timing-function: ease-in-out;
// }
// .timing-3 {
// 	transition-timing-function: var(--bezier-1);
// }

// /*Properties*/
// .property-all {
// 	transition-property: all;
// }
// .property-colors {
// 	transition-property: color, background, border-color;
// }
// .property-opacity {
// 	transition-property: opacity;
// }
// .property-transform {
// 	transition-property: transform;
// }
// .property-opacity-transform {
// 	transition-property: opacity, transform;
// }



// /*Durations*/
// .duration-1 {
// 	transition-duration: .15s;
// }
// .duration-2 {
// 	transition-duration: .3s;
// }
// .duration-3 {
// 	transition-duration: .45s;
// }
// .duration-4 {
// 	transition-duration: .6s;
// }
// .duration-5 {
// 	transition-duration: .75s;
// }

// /*Delays*/
// .delay-1 {
//     transition-delay: .3s;
// }
// .delay-2 {
//     transition-delay: .6s;
// }
// .delay-3 {
//     transition-delay: .9s;
// }
// .delay-4 {
//     transition-delay: 1s;
// }
// .delay-5 {
//     transition-delay: 1.25s;
// }

// /*Transforms*/

// // Slides
// .slide-up--sm {
// 	transform: translateY(1rem);
// }
// .slide-up {
// 	transform: translateY(2rem);
// }
// .slide-down {
// 	transform: translateY(-2rem);
// }


// // Fades
// .fade-in {
// 	opacity: 0;
// }



// // Combos
// .fade-in-up--sm {
// 	@apply fade-in slide-up--sm property-opacity-transform
// }
// .fade-in-up {
// 	@apply fade-in slide-up property-opacity-transform
// }
